img{
  display: block;
  max-width:230px;
  height: auto;
}

div {margin:5px;}

#profil {
  width: 300px;
  height: 300px;
  float: left;

}

#info {
  width: 400px;

  float: left;
    color: #2F4F4F;
    padding: 10px;
}
#buton{
  padding: 5px;
   float: left;
   border: 1px solid green;
 }
 #fb{
  width: 400px;
    float: right;
    padding: 10px;
  }
#animate{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  background: black;
  z-index: 100;
}